.services {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: white;

  h2 {
    padding-bottom: 5rem;
  }
  p {
    width: 70%;
    padding: 2rem 0rem 4rem 0rem;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    flex-basis: 20rem;

    .icon {
      display: flex;
      align-items: center;
      gap: 1rem;

      h3 {
        background: white;
        color: black;
        padding: 0.9rem;
      }
    }
  }
}
